.row {
  display: flex;
}

.column {
  flex: 0 0 33.33%; /* Sett flex til 33.33% */
  padding: 1%;
  box-sizing: border-box; /* Inkluder padding i størrelsen */
}

/* For å sikre at bildene ikke strekker seg utover kolonnens bredde */
img {
  max-width: 100%;
  height: auto;
}

 
