@media (min-width: 992px) { /* Large Screen */
 
  .main-nav a {
    font-size: 1.5rem;
  }

  main { 
    margin-left: 0;
    margin-right: 0;
  }

  .container-block { 
    flex-direction: row; 
  }
  
  /* Homepage */
  .main-page-background { 
    height: 100vh;
  }

  .main-page-heading {
    font-size: 50px; 
  }

  .intro-container { 
    padding: 150px;
   }

  .gallery img {
    height: 100%;
  }

  /* Accessibility */

  .main-accessibility {
    margin-right: 30px;
  }
  .introduction-accessibility {
    flex-direction: row;
  }

  .title-indent {
    padding-left: 50px;
  }

  .introduction-accessibility p {
    padding-left: 50px;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .item-left-acessibility-intro .button {
    margin-left: 50px;
  }

  .accessibility-test1 {
    flex-direction: row;
  }

  /* Topical */
  .fake-news { 
    height: 100vh; 
  }

  .grid-container { 
    grid-template-columns: repeat(2, 1fr); 
    gap: 4%; 
    margin-bottom: 50%;
  }

  /* Campus */
  .row {
    flex-direction: row;
  } 

  .topical-bilde {
    width: 100%;
  }

  .column {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .column img {
    width: 100%;
  }

}