@media (min-width: 768px) { /* Medium Screen */
  
  /* Homepage */
  .picture-link-campus { 
    flex-direction: row; 
  }

  .item-left-acessibility-intro {
    flex: 70%;
  }

  /* Topical */
  .fake-news { 
    height: 30vh;
  }

  .fake-news-h1 { 
    font-size: 50px;    
  }

  .image-wrapper {
    padding: 2rem;
  }

  .topical-bilde {
    width: 50%;
    margin: 0 auto;
  }
  
  /* Campus */
  .row {
    flex-direction: row;
  } 
}