/* Medium Screen */
@media (min-width: 768px) {

  .main-nav a { 
    padding-top: 1rem;
    padding-left: 3rem;
  }

  .container-block { /* Gives margin around the container on screens bigger than 768px. */
    margin: 80px; 
  }

  .picture-link-campus {
     margin-left: 80px;
     margin-right: 80px;
  }

  /* Homepage */
  .main-page-background {
    height: 100%; /* background troughout the whole page on bigger screen */
  }

  .main-page-heading {
    position: absolute;
    top: 40%;
  }

  .container-block { 
    padding-top: 10rem;
  }

  .picture-link-campus { /* shows the pictures on a row instead of column on wider screens */
    flex-direction: row; 
  }

  .oslomet-intro { 
    font-size: 1.4rem; 
  }

  /* Accessibility */
  .item-left-acessibility-intro {
    flex: 70%;
  }

  .main-accessibility-img {
    margin: 100px;
  }

  .item-right-accessibility-intro {
    padding-right: 140px;
  }

  .accessibility-test1 {
    margin: 80px;
  }
  
  .accessibility-test1-left {
    margin-right: 5%;
    margin-top: 50px;
  }

  .accessibility-test1-right {
    flex: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 40px;
  }
  
  /* Topical */
.grid-container{
  padding: 80px;
}

  .fake-news { 
    height: 30vh;
  }

  .fake-news-h1 { 
    font-size: 50px;    
  }
  
  .topical-bilde {
    width: 50%;
    margin: 0 auto;
  }

  /* Campus */
  .row {
    flex-direction: row;
  } 

  .tekst-campus p {
    margin: 50px 20rem;
  }

}