body { 
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(2, 2, 25, 0.918); 
  margin: 0px; 
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  width: 100%
}

main { 
  margin-left: 10px; 
  margin-right: 10px; 
  color: white; 
}

ul { 
  list-style: none; 
}

li { 
  font-size: 30px; 
}

/* css troughout all of the pages */

.button { 
  background-color: rgb(212, 245, 245); 
  border-radius: 10px; 
  padding: 20px 32px; 
  text-decoration: none; 
  font-size: 16px; 
}

.image-information { /* image description, image source*/
  color: rgb(181, 181, 181); 
  font-size: smaller; 
  padding-left: 20px; 
  text-decoration-line: unset; 
}

.image-information:hover { 
  color: chocolate; 
}

/* footer */

.contact { color: white; 
  background-color: rgba(2, 2, 25, 0.23); 
}

/* main page navigation bar */
.main-nav { 
  overflow: hidden; 
  margin-bottom: 2rem;
}

.main-nav a { 
  float: left;
  color: rgb(173, 172, 172);
  padding: 40px 0px 0px 30px;
  text-decoration: none;
  font-size: 1rem; 
}

.main-nav a:hover { 
  color: rgb(252, 252, 252);
 }

/* inner pages navigation bar */
 .inner-page nav {
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

/* index page style*/
 .main-page-background { 
  background-image: url("../img/photoeditoroslomet.jpg");
  background-size: cover; 
  background-position: center center; 
  height: 100%; 
  object-fit: cover;
  -webkit-mask-image: linear-gradient(black, transparent); /* Funker bare med webkit nettlesere */
}

.main-page-heading { 
  position: absolute; 
  top: 40%; left: 50%; 
  transform: translate(-50%, -50%); 
  color: floralwhite; 
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center; 
}

.heading-intro { 
  text-align: center;
 }
 
.oslomet-intro { 
  font-size: larger; 
  text-align: center;
  line-height: 2; 
  }

.picture-link-campus { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.card-campus { 
  padding: 0px 6px; 
 }

.gallery { 
  border: 1px solid rgb(204, 204, 204);
 }

.gallery:hover { 
  border: 1px solid rgb(119, 119, 119);
 }

 
.image-description { 
  padding: 15px; 
  text-align: center;
 }

.container-block { 
  display: flex; 
  flex-direction: column; 
  padding-top: 200px;
  font-size: 30px;
  text-align: center; 
}
.item-left-accessibility { 
  display: flex; 
  flex-direction: column; 
  background-color: rgba(35, 35, 93, 0.357); 
  flex: 1 1 50%; 
  align-items: center; 
  padding: 50px; 
  justify-content: center; }
  
.item-right-accessibility { 
  display: flex; 
  flex-direction: column; 
  background-color: rgba(147, 168, 172, 0.706); 
  padding: 70px; 
  flex: 1 1 50%; 
  align-items: center; 
}

.item-right-accessibility img { 
  padding-bottom: 50px; 
}

.item-right-fake-news { 
  display: flex; 
  flex-direction: column; 
  background-color: rgb(147, 168, 172); 
  padding: 70px; 
  flex: 1 1 50%; 
  align-items: center; 
}

.item-right-fake-news img { 
  padding-bottom: 5px; 
  height: auto; 
  width: 100%; 
}

.item-left-fake-news { 
  display: flex; 
  flex-direction: column; 
  background-color: rgba(35, 35, 93, 0.357); 
  flex: 1 1 50%; 
  align-items: center; 
  padding: 50px; 
  justify-content: center; 
}

/* topcial page*/
/* own navigation for topical for visability*/

.nav-topical a { 
  color: rgb(252, 252, 252); 
}

.nav-topical a:hover { 
  color: rgb(187, 185, 185); 
}

.fake-news { 
  background-image: url("../img/fakeNewsBakgrunn.jpeg"); 
  background-size: cover; 
  background-position: center center; 
  height: 50vh; 
  object-fit: cover; 
  -webkit-mask-image: 
  linear-gradient(black, transparent);
 }

 .grid-container { 
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 50px; 
  padding: 0px; 
}

.fake-news-h1 { 
  color: white; 
  font-size: x-large;
  text-align: center; 
  padding-top: 10%; 
}

.fake-news-h2 { 
  color: white; 
  text-align: center; 
  font-size: 30px; 
  padding: 5%; 
}

.bilde-tekst-topical { 
  padding: 40px; 
  background-color: rgba(61, 81, 107, 0.38); 
  border-radius: 30px; 
  line-height: 2; 
  font-size: 20px; 
}

.image-wrapper {
  padding: 2rem;
}

.topical-bilde { 
  height: auto; 
  width: 100%; 
  align-items: center; 
  border-radius: 30px; 
}

.norske-leksikon { 
  width: 100px; 
  height: 100px; 
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0.91);
 }

 .kilde-logo { 
  width: 100px; 
  height: 100px;
 }

 .kilder-styling { 
  background-color: rgba(70, 70, 68, 0.176);
   background-size: 100%; 
   padding: 10px; 
   color: aliceblue; 
}

/* campus page */

.nav-campus { 
  background-color: rgba(32, 32, 44, 0); 
  overflow: hidden; 
  flex-direction: row; 
  width: 100%; 
  margin: 0px 50px 75px 0px; 
}

.nav-campus a { 
  float: left; 
  color: rgb(255, 252, 252); 
  text-align: center; 
  padding: 40px 0px 0px 30px; 
  text-decoration: none; 
  font-size: 1.5em; 
}

.nav-topical a:hover { 
  color: rgb(206, 205, 205); 
}

.campus-container { 
  position: relative; 
  text-align: center;
 }

.background-image-campus { 
  background-image: url("../img/oslometcampus.jpg");
   background-size: cover; 
   background-position: center center; 
   height: 70vh; object-fit: cover; 
   -webkit-mask-image: 
   linear-gradient(black, transparent);
   }

.header-campus {
  padding: 20px;
  text-align: center;
} 

.tekst-campus h2 {
  text-align: center;
}

.tekst-campus p {
  text-align: center;
}

.tekst-campus{
  background-color: rgba(58, 58, 105, 0.337);
  border-radius: 30px;
  padding: 30px;
  margin: 50px;
  font-size: 20px;
  line-height: 2;
}

.row { 
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.row { 
    display: flex;
}  

.row img {
  height: 200px;
  border-radius: 50%;

.image-campus {
  width: 100%;
  padding: 50px;
}


.img-campus {
  border-radius: 20%; 
  width: 100%;
}
  
.column { 
  flex: 1 1 0%; 
  padding: 5px; 
}
.campus-container { 
  position: relative; 
  text-align: center; 
}

/* Accessibility style  */

.introduction-accessibility { 
  display: flex;
  flex-direction: column;
}

.item-left-acessibility-intro {
  padding: 50px;
  padding-top: 0;
  align-items: center;
}

.item-right-accessibility-intro {
 padding-left: 40px;
 padding-right: 40px;
}

.item-right-accessibility-intro img {
  width: 100%;
  border-radius: 40px; /* https://ianrmedia.unl.edu/resources/rounded-corners-images#:~:text=The%20CSS%20property%20border%2Dradius,an%20oval%20or%20a%20circle. */ 
}

.introduction-accessibility h1 {
  font-size: 3rem;
  margin: 0;
  color: white;
}

.title-indent {
  font-size: 3rem;
  margin: 0;
  color: white;
}

.introduction-accessibility p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  margin-bottom: 60px;
}

.main-accessibility-img img {
  width: 100%;
  border-radius: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.accessibility-test1 {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 40px;
  background-color: #74bbbb;
}
 
.accessibility-test1-right {
  flex: 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 40px;
  align-items: center;
}

.accessibility-test1-right h2 {
  color: black;
}

.accessibility-test1-right p {
  color: black;
}

.accessibility-test1-left {
  padding: 0;
}

.accessibility-test1-left img {
  width: 80%;
  padding: 0;
  border-radius: 40px;
}

.grid-image-right {
  width: 80%;
  margin: 0;
}