
body {
    background-color:rgb(100, 100, 106);
}


h1 {
    color: black;
    font-size: 55px;
    padding-left: 50px;
    
}
h2 {
    
    padding-left: 50px;
    color: rgb(60, 54, 54);
    font-size: 40px;
}

.Top-image {
    height: 30%;
    width: 100%;
}
.image-information{
    color: rgb(53, 52, 52);
    font-size: smaller;
    padding-left: 20px;

}
a {
    color: rgb(78, 78, 166);
    
    text-decoration-line: unset;
}

ul{
    list-style: none;

    
    
}
li {
    font-size: 30px;
    font-style: italic;/*gjør styling på hvordan det ser ut */
}
p{ 
    font-size: 20px;
}
h3 { 

    padding: 0px;
    line-height: 2;
}

h4, h5, h6{
    font-size: large;
}
.hoved-tekst {
    
    line-height: 50px;
    
}  

.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    border-radius: 5px;
    padding: 30px;
    
}
footer {
    padding: 10px;
    
}
.valg-bildet {
    height: 50%;
    padding-top: 250px;
    padding-left: 30px;
}



.norske-leksikon {
    width: 100px;
    height: 100px;
    padding: 20px;
}
.regjering-logo {
    width: 100px;
    height: 100px;
    padding: 20px;
}
.university-bergen-norway {
    width: 100px;
    height: 100px;
    padding: 20px;
}
.kilder-styling {
    background-color:rgb(49, 49, 44);
    background-size: 200px;
    
}
.kilde-linker {
    padding-top: 5px;
    
    }
.kunstig-intelligens {
    height: 90%;
    width: 100%;
}
.AI-bildet {
    height: 100%;
}
.AI-1-bildet {
    height: 80%;
    width: 70%;
    padding-left: 100px;
    padding-top: 40px;
    
}
 



